.header__link {
    text-decoration: none;
    color: #2F80ED; 
    -webkit-transition: color 1s ease-out; 
    -o-transition: color 1s ease-out; 
    transition: color 1s ease-out;
}
  
.header__link:hover {
    color: #e6005c;
}