.footer__link {
    text-decoration: none;
    color: white;
    -webkit-transition: color 1s ease-out;
    -o-transition: color 1s ease-out;
    transition: color 1s ease-out;
}

.footer__link:hover {
  color: #e6005c;
}