@-webkit-keyframes rotation-square {
    from {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
    }
    to {
        -webkit-transform: rotate(345deg);
                transform: rotate(345deg);
    }
}

@keyframes rotation-square {
    from {
        -webkit-transform: rotate(-15deg);
                transform: rotate(-15deg);
    }
    to {
        -webkit-transform: rotate(345deg);
                transform: rotate(345deg);
    }
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}