.header__title {
    max-width: 730px;
    margin-left: 64px;
    justify-content: center;
    align-items: center;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
    align-self: center;
    z-index: 2; 
}