.khan__buy-link {
    margin: 0;
    padding: 0;
    align-self: flex-start;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED; 
    transition: color 1s ease-out;
}

.khan__buy-link:visited {
  color: darkgray;
}

.khan__buy-link:hover {
  color: #e6005c;
}