.khan__buy-link {
  margin: 0;
  padding: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2F80ED; 
  -webkit-transition: color 1s ease-out; 
  -o-transition: color 1s ease-out; 
  transition: color 1s ease-out;
}

.khan__buy-link:hover {
color: #e6005c;
}